html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: green;
    padding: 10px 20px 0px;
}
.header {
    background-color: purple;
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: purple;
    min-height: 150px;
}

table thead th {
    background-color: green;
    color: white
}

table tfoot td {
    background-color: lightgray;
}

table tbody tr:nth-child(even) td {
    background-color: purple;
}

table tbody tr:hover td {
    background-color: #E9E9E9;
    cursor: pointer
}
